<launch>
  <include file="/opt/ros/noetic/share/realsense2_camera/launch/rs_d400_and_t265.launch">
  </include>

  <remap from="grid_map" to="/map"/>

  <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
    <arg name="rtabmap_args" default="--delete_db_on_start"/>
    <arg name="rgb_topic" default="/d400/color/image_raw"/>
    <arg name="depth_topic" default="/d400/aligned_depth_to_color/image_raw"/>
    <arg name="camera_info_topic" default="/d400/color/camera_info"/>
    <arg name="frame_id" default="d400_link"/>
  </include>
  
  <node name="camera_node" pkg="ros_opencv" type="camera_subscriber.py" output="screen"/>
  <node name="localizer_node" pkg="ros_opencv" type="ball_localizer.py" output="screen"/>
  
  <node pkg="tf" type="static_transform_publisher" name="t265_odom_to_odom" args="0 0 0 0 0 0  /odom /t265_odom_frame 100"/>
  <node pkg="tf" type="static_transform_publisher" name="robot_base_tf" args="0 0 0 0 0 0 /d400_link /base_link 100"/>


  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find ros_opencv)/src/param/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find ros_opencv)/src/param/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find ros_opencv)/src/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ros_opencv)/src/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find ros_opencv)/src/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find ros_opencv)/src/param/dwa_local_planner_params.yaml" command="load" />
    <remap from="cmd_vel" to="/cmd_vel"/>
  </node>

</launch>
